<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pie.bcm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Business Canvas Model</name>
    <description>
        Business Canvas Model App.
    </description>
    <author email="nanomag@gmail.com" href="http://nanomag.comule.com">
        M-C Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
